#instructions-container {
  background: #fae4f4;
  border-radius: 10px;
  padding: 50px;
  margin-top: 10px;
  box-shadow: 14px 14px 0 0 #502c09;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
